<h1><%= link_to 'Welcom to ProprietorHome',homepages_path %></h1>
<h2><%= 'ProprietorHome is for proprietors' %></h2>

<style type="text/css">
  h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 50px;
  margin-left: 350px;
  margin-right: 350px;
  height: 100px; 
  line-height: 100px; 
  overflow:hidden;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 25px;
  margin-left: 400px;
  margin-right: 400px;
  height: 50px; 
  line-height: 50px; 
  overflow:hidden;  
}
</style>














  
